<div class='message'>
  <p><%= "#{message.user.email}: #{message.content}" %></p>
</div>
<div class='task'>
  <%= link_to new_room_task_path(@room), class: "nav-link" do %>
  <span class="mr-1">リストを作成</span>
  <% end %>
</div>