<div class="taskEditPage">
  <div class="container">
    <h1 class="title">タスク名の編集</h1>
    <%= form_with model: @task, url: { action: :update }, html: { class: 'taskForm' }, local: true do |f| %>
      <% if @task.errors.any? %>
        <p class="text-danger">タイトルは1～255文字以内で入力してください</p>
      <% end %>
      <%= f.text_field :title, class: "form-control taskName", placeholder: "タスク名" %>
      <div class="text-center"><%= f.submit "更新する", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>
