<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="header_menu_left "><%= current_user.name %>さん</li>
      <li class="header_menu_title"><%= link_to "Task Chat", root_path %></li>
      <li class="header_menu_right"><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
    </ul>
  </nav>
</header>