/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: rgb(12, 13, 70);
}
a {
  color: rgb(12, 13, 70);
}
/* layouts */
header {
  width: 100vw;
  background-image: url("/green_00058.jpg");
  padding: 10px 0;
  margin: auto 0;
}
footer {
  width: 100vw;
  height: 40px;
  background-image: url("/green_00058.jpg");
  position: fixed;
  bottom: 0;
  z-index: 9;
}
body {
  background-image: url("/white_00055.jpg");
}
/* header */
.header_menu {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.header_menu_left {
  padding-left: 20px;
}
.header_menu_title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
}
.header_menu_right {
  padding-right: 20px;
}
/* rooms#index&new */
.main {
  background-image: url("/white_00055.jpg");
  height: calc(100vh - 60px);
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page_heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
}
.form_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.actions {
  font-size: 20px;
  margin: auto;
}
.newRoom {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  margin-top: 20px;
}
input[type="text"] {
  width: 300px;
  height: 40px;
  font-size: large;
}
.room_name {
  padding: 10px auto;
  margin: 10px auto;
  list-style-type: square;
}
/* button */
.submitBtn {
  background: #29b744;
  color: #fff;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 90px;
  transition: opacity 0.5s;
  cursor: pointer;
}
.submitBtn:hover {
  opacity: 0.6;
}
/* sign_up */
.signupPage {
  margin-top: 10vh;
}
.text-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new_user {
display: flex;
align-items: center;
flex-direction: column;
}
.form-group {
  margin: 0 auto 1.5rem auto;
  max-width: 500px;
}
.form-control {
  background: #f6f8fa;
}
input[type="email"] {
  width: 300px;
  height: 40px;
  font-size: large;
}
input[type="password"] {
  width: 300px;
  height: 40px;
  font-size: large;
}
.container{
   padding-top: 30px;
   padding-bottom: 45px;
}
/* sign_in */
.signinPage {
  margin-top: 10vh;
}
.title {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.signupForm {
display: flex;
align-items: center;
flex-direction: column;
}
.loginBtn {
  padding: 12px;
  width: 200px;
  border-radius: 21px;
  background: #29b744;
  color: #fff;
  text-align: center;
  border: none;
  margin-top: 20px;
  opacity: 1;
  transition: opacity .5s;
  cursor: pointer;
}
.loginBtn:hover {
  opacity: 0.7;
}
/* rooms#show */
.topPage {
  background-image: url(/japanese-paper_00192.jpg);
  width: 100%;
  height: calc(100vh - 175px);
  display: flex;
}
.chatWrapper {
  width: 350px;
}
.messages {
  overflow: auto;
  height: calc(100% - 93px);
}
.roomName {
  padding-top: 10px;
  border-bottom:  #ececec 5px solid;
  text-align: center;
  background-image: url(/japanese-paper_00192.jpg);
}
.form {
  width: 100vw;
  background-image: url(/green_00058.jpg);
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
}
.form_tag {
  font-size: large;
  font-weight: bold;
  margin: auto 10px;
}
.message {
  margin-left: 20px;
}
.taskWrapper {
  width: calc( 100vw - 350px );
}
.taskContainer {
  white-space: nowrap;
  align-items: baseline;
  z-index: 10;
  display: flex;
  overflow-y: auto;
  height: 500px;
}
.task_new {
  font-size: medium;
  margin-left: 10px;
}
.task {
  position: relative;
  background-image: url(/texture_00004.jpg);
  padding: 10px;
  margin: 20px 0 20px 20px;
  min-width: 250px;
}
.task:last-child {
  margin-right: 20px;
}
.task_header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task_header_title {
  font-size: 20px;
  margin: 0;
  color: #262938;
}
.fa-edit {
  font-size: 18px;
  color: #262938;
}
.fa-trash-alt {
  font-size: 18px;
  color: #262938;
  margin-right: 10px;
}
.cardWrapper {
  overflow-y: auto;
  max-height: 76vh;
}
.cardDetail_link {
  text-decoration: none;
  color: #323232;
}
.card {
  background-image: url(/texture_00010.jpg);
  margin-bottom: 10px;
  padding: 10px;
}
.card_title {
  font-size: 17px;
}
.card_detail {
  display: none;
}
.is-exist {
  display: block;
  color: #262938;
}
.fas-bars {
    display: block;
  }
.addCard_link {
  color: #262938;
}
.new_list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tasknewPage{
  height: calc(100vh - 60px);
  background-image: url(/white_00055.jpg);
}
.cardnewForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
textarea {
  resize: none;
  width:300px;
  height:200px;
  font-size: larger;
}
.taskForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cardnewForm_title {
  margin-bottom: 30px;
}
.cardnewForm_address {
  margin-bottom: 30px;
}
.cardDetailPage {
  margin-bottom: 70px;
}
.cardContents {
  margin: 60px auto 0;
  max-width: 600px;
  font-size: 20px;
}
.cardContents_title {
  font-size: 22px;
  border-bottom: 1px solid #ccc;
 }
.datespot-title {
  padding: 0;
}
.cardContents_address {
  border-bottom: 1px solid #ccc;
  margin: 30px auto;
}
.cardContents_memo {
  border-bottom: 1px solid #ccc;
  margin: 30px auto;
}
.cardContents_taskStatus {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.cardContents_btnArea {
  margin-top: 40px;
  text-align: center;
}
.cardContents_btnArea a {
  display: block;
}
.map {
  border: rgb(189, 190, 170) solid 5px;
  width: 620px;
  height: 350px;
}
.cardeditForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cardeditForm_title {
  margin-bottom: 10px;
}
.cardeditForm_address {
  margin-bottom: 10px;
}
.cardeditForm_memo {
  margin-bottom: 10px;
}
.task_select {
  width: 300px;
  height: 40px;
  font-size: larger;
}
.edit_btn {
  max-width: 200px;
  margin: 0 auto;
  background: #026aa7;
  padding: 7px;
  border-radius: 10px;
  color: #fff;
  transition: opacity 0.5s;
  text-decoration: none;
}
.edit_btn:hover {
  opacity: 0.7;
}
.delete_btn {
  margin-top: 20px;
}
.message_user_position {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.position_title h1{
  padding: 0;
  margin: 30px 0;
  border-bottom: #ccc 1px solid;
}